<div class="wrap">
	<!-- Fixed navbar -->
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- menu -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/home">Okusureminder</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/logout">
							<span class="glyphicon glyphicon-off"></span>
							Logout
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<div class="container">
		<h2>ホーム</h2>

		<button id="subscribe" class="btn btn-default">1. Subscribe Notification</button>
		<br>
		<button id="push" class="btn btn-primary">2. Push!</button>
	</div>
</div>
